* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

/* Page styles */
.top-bar {
  width: 100%;
  display: inline-block;
  background-color: rgba(0, 139, 139, 0.8);
  padding: 10px 15px;
  margin: 0;
}

.menu-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu-container a {
  color: #fff;
  text-decoration: none;
}

.menu-container a:hover {
  color: #fff;
  text-decoration: underline;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  margin-left: auto;
}

.links {
  border: 1px solid #fff; /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.links a {
  margin-left: 20px;
}

/* Header */
.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-link,
.github {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* Photo Grid */
.photo-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}

/* Carousel */
div.carousel {
  max-width: 300px;
  overflow: hidden;
  text-align: center;
}

.carousel .slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel_item,
.carousel_item--hidden {
  display: none;
}

.carousel_item--visible {
  display: block;
}

.carousel_item img {
  max-width: 300px;
}

.prev,
.next {
  border: none;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  max-height: 25px;
  padding: 10px;
  line-height: 0; /* This centers a button's text! */
}

.prev:focus,
.next:focus {
  margin: 0;
  border: 2px solid rgba(0, 139, 139, 0.8);
}

.prev:hover,
.next:hover {
  background-color: rgba(243, 142, 53, 0.815);
}
